:root {
    --border: 3px solid black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 500px;
    width: 500px;
}

.box {
    flex-shrink: 0;
    box-sizing: border-box;
    height: 100%;
    width: auto;
}

#box-0, #box-1, #box-3, #box-4 {
    border-right: var(--border);
    border-bottom: var(--border);
}

#box-2, #box-5 {
    border-bottom: var(--border);
}


#box-6, #box-7 {
    border-right: var(--border);
}



